In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [12]:
rows_before = len(df)
drop_na = df.dropna(subset=['salary_year_avg'])
rows_after = len(drop_na)
rows_before, rows_after

(785741, 22003)

In [11]:
rows_before_duplicates = df.shape[0]
drop_duplicates = df.drop_duplicates(subset=['job_location'])
rows_after_duplicates = drop_duplicates.shape[0]
rows_before_duplicates, rows_after_duplicates

(785741, 17218)

In [16]:
filled_na = df.fillna(value='Unknown')
df['salary_rate'].head(10), filled_na['salary_rate'].head(10)

(0    None
 1    None
 2    None
 3    None
 4    None
 5    None
 6    None
 7    None
 8    None
 9    None
 Name: salary_rate, dtype: object,
 0    Unknown
 1    Unknown
 2    Unknown
 3    Unknown
 4    Unknown
 5    Unknown
 6    Unknown
 7    Unknown
 8    Unknown
 9    Unknown
 Name: salary_rate, dtype: object)