In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import ast
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

c:\Users\nguye\.conda\envs\python_course\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Downloading readme: 100%|██████████| 28.0/28.0 [00:00<00:00, 28.0kB/s]
Downloading data: 100%|██████████| 231M/231M [00:13<00:00, 17.8MB/s]
Generating train split: 100%|██████████| 785741/785741 [00:13<00:00, 59406.82 examples/s]

In [6]:
ASEAN = ['Brunei', 'Cambodia', 'Indonesia', 'Laos', 'Malaysia', 'Myanmar', 'Philippines', 'Singapore', 'Thailand', 'Vietnam']
df_DA_ASEAN = df[(df['job_country'].isin(ASEAN)) & (df['job_title_short'] == 'Data Analyst')].copy()

df_DA_ASEAN = df_DA_ASEAN.dropna(subset='salary_year_avg')

df_DA_ASEAN_exploded = df_DA_ASEAN.explode('job_skills')

df_DA_ASEAN_exploded[['salary_year_avg', 'job_skills']].head(10)

      salary_year_avg job_skills
3457         100500.0     python
3457         100500.0        sql
3457         100500.0      numpy
3457         100500.0     pandas
3457         100500.0       zoom
3457         100500.0      slack
7931          51014.0     python
7931          51014.0          r
7931          51014.0        sql
7931          51014.0    tableau

In [9]:
df_DA_skills = df_DA_ASEAN_exploded.groupby('job_skills')['salary_year_avg'].agg(['count', 'median']).sort_values(ascending=False, by='count')

df_DA_skills = df_DA_skills.rename(columns ={'count': 'skill_counts', 'median': 'median_salary'})

df_DA_posts = len(df_DA_ASEAN) #alternatives: df_DA_ASEAN['job_title'].count()

df_DA_skills['skill_percent'] = df_DA_skills['skill_counts']/df_DA_posts*100

df_DA_skills = df_DA_skills[df_DA_skills['skill_counts'] > 0]

df_DA_skills

             skill_counts  median_salary  skill_percent
job_skills
sql                    62        99500.0      61.386139
python                 42        99500.0      41.584158
tableau                36       100500.0      35.643564
excel                  34       100500.0      33.663366
r                      24        98500.0      23.762376
power bi               23        98500.0      22.772277
spark                   8       130414.0       7.920792
word                    8        89850.0       7.920792
sql server              8        87025.0       7.920792
looker                  8       102750.0       7.920792
powerpoint              7       100500.0       6.930693
aws                     6       100500.0       5.940594
sas                     6        98500.0       5.940594
java                    6        93362.5       5.940594
flow                    6       108087.5       5.940594
hadoop                  5        75067.5       4.950495
bigquery                5        57500.0       4.950495
snowflake               4       104837.5       3.960396
spss                    4        98500.0       3.960396
oracle                  4        50707.0       3.960396
azure                   4        94852.0       3.960396
pandas                  4       111175.0       3.960396
gcp                     3       100500.0       2.970297
sap                     3        51014.0       2.970297
qlik                    3       100500.0       2.970297
windows                 3        53014.0       2.970297
postgresql              2        73250.0       1.980198
spreadsheet             2        75600.0       1.980198
slack                   2        79000.0       1.980198
scala                   2       138087.5       1.980198
zoom                    2       105837.5       1.980198
kafka                   2       165000.0       1.980198
javascript              2       115500.0       1.980198
c                       2        91587.5       1.980198
mongodb                 2        48000.0       1.980198
macos                   2        53014.0       1.980198
jira                    2       100189.5       1.980198
dax                     1        72000.0       0.990099
vba                     1        98500.0       0.990099
express                 1        57500.0       0.990099
git                     1       165000.0       0.990099
github                  1        98500.0       0.990099
gitlab                  1        57500.0       0.990099
golang                  1       165000.0       0.990099
php                     1        79200.0       0.990099
perl                    1        79200.0       0.990099
sheets                  1       111175.0       0.990099
sharepoint              1       109500.0       0.990099
linux                   1       109500.0       0.990099
redshift                1       165000.0       0.990099
ms access               1        50400.0       0.990099
numpy                   1       100500.0       0.990099
outlook                 1        79200.0       0.990099
asana                   1        57500.0       0.990099

In [10]:
skill_limit = 5

df_DA_skills_high_demand = df_DA_skills[df_DA_skills['skill_counts'] > skill_limit]

In [11]:
from adjustText import adjust_text

plt.scatter(df_DA_skills_high_demand['skill_percent'], df_DA_skills_high_demand['median_salary'])
plt.xlabel()