In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import ast
from datasets import load_dataset
import seaborn as sns

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

In [5]:
df_DS_US = df[(df['job_title_short'] == 'Data Scientist') & (df['job_country'] == 'United States')].dropna(subset=['salary_year_avg']).copy()
top_companies = df_DS_US.groupby('company_name')['salary_year_avg'].median().nlargest(5).reset_index()

top_companies

                                  company_name  salary_year_avg
0                                      ReServe         585000.0
1  East River Electric Power Cooperative, Inc.         537000.0
2                          Analog Devices, Inc         375000.0
3                                     Big Lots         375000.0
4      Blue Cross and Blue Shield of Minnesota         375000.0