In [2]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [3]:
salary_mean = df['salary_year_avg'].mean()
salary_mean

123286.27407182401

In [4]:
salary_median = df['salary_year_avg'].median()
salary_median

115000.0

In [5]:
job_avg_salary = df.groupby('job_title_short')['salary_hour_avg'].mean()
job_avg_salary

job_title_short
Business Analyst             42.723415
Cloud Engineer               45.560715
Data Analyst                 38.106918
Data Engineer                57.196998
Data Scientist               49.361403
Machine Learning Engineer    48.477935
Senior Data Analyst          47.661218
Senior Data Engineer         62.848496
Senior Data Scientist        54.105631
Software Engineer            46.452019
Name: salary_hour_avg, dtype: float64

In [14]:
index = df['salary_hour_avg'].idxmin()
minimum_salary_hour = df.iloc[index][['job_title_short','salary_hour_avg']]
minimum_salary_hour

job_title_short    Data Scientist
salary_hour_avg               8.0
Name: 88185, dtype: object

In [18]:
# alternative
index = df['salary_hour_avg'].idxmin()
minimum_salary_hour = df.loc[index, 'salary_hour_avg']
minimum_salary_hour

8.0

In [20]:
job_post_counts = df.groupby('job_country')['job_title_short'].count()
job_post_counts

job_country
Afghanistan      16
Albania         119
Algeria         111
Angola           11
Argentina      8736
               ...
Venezuela        69
Vietnam        2414
Yemen            10
Zambia          104
Zimbabwe         81
Name: job_title_short, Length: 160, dtype: int64